@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

#mapArea{
  height:100vh;
  width: 100vw;
  float:left;
}
.default{
  background-color:#f5f5f5
}
.title {
  font-size:35px;
  margin-top:16px;
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.button{
  border-radius:8px;
  font-family:'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 12px;
  height:8%;
  width: 100%;
  float:center;
  margin-top: 5px;
  align-self:center;
  opacity: 1;
  background: linear-gradient(175deg, #eaeaea 75%, #ffe38f);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0)
}
.mainBox {
  position: fixed;
  z-index:1000;
  left:20px;
  top:20px;
  opacity:1;
  padding:16px;
  width:21vw;
  height:70vh;
  /* border: 1px solid #ffe78f; */
  background: linear-gradient(to bottom right, #ffffff 30%, #ededed);;
  border-radius:8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3)
  /* border-image: url(images/goldborder.png) 1; */
}
.buttom{
  margin-bottom:20px
}
.top{
  margin-top:3px;
  margin-bottom: 3px
}
.currentRoute{
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}
.currentRouteContent{
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
}
.innerCard{
  width:90%;
  height:20%;
  padding:5%;
  border-radius:8px;
  background: linear-gradient(173deg, #eaeaea 80%, #ffe38f);
  /* box-shadow: inset 0px 0px 35px rgba(0, 0, 0, 0.05) */
}
.backButton{
  height:60px;
  width:40px;
  position: fixed;
  top:4%;
  left:19%;
  background-image: url('images/back.png');
}
.backButtonPopUp{
  height:60px;
  width:40px;
  position: fixed;
  top:4%;
  right:3%;
  background-image: url('images/back.png');
}
.popup{
  display: none;
  position: fixed;
  z-index:1001;
  border-radius:10px;
  padding:5%;
  width:85vw;
  height: 80vh;
  background-color:white;
  align-self: center;
  top:2.5%;
  right:2.5%;
  background: linear-gradient(to bottom right, #ffffff 30%, #ededed);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
